/* Body Styling */
body {
   padding: 0;
   margin: 0;
   font-family: Georgia, "Times New Roman", Times, serif;
   font-size: 18px;
   line-height: 150%;
   color: rgb(255, 255, 255);
   background-color: #333;
}

/* Heading Styling */
header {
   margin-bottom: 0;
   background: black;
   border-bottom-color: #333;
   border-bottom-style: solid;
   box-shadow: 10px 0 18 black;
   /* overflow: hidden;
   position: fixed;
   top: 0;
   width: 100%; */
}
 
.bio-name {
   padding-top: 70px;
   margin: 0;
   margin-bottom: 5px;
   font-size: 28px;
   text-align: left;
   display: inline-block;
   width: 40%;
}

.bio-name a {
   text-decoration: none;
   font-size: 50px;
   margin: auto 15px;
   color: #0424d8;
}

header nav {
   float: right;
   padding-top: 75px;
   display: block;
   width: 45%;
   margin: auto 30px;
   text-align: right;
}

header nav ul {
   padding: 0;
   margin: 0;
   align-items: center;
   list-style: none;
   margin-bottom: 5px;
}

header nav ul li {
   display: inline;
}

header nav ul li a {
   font-weight: bold;
   font-size: 25px;
   text-decoration: none;
   padding-left: 40px;
   color: #0424d8;
}
/* end of header styling */
 
/* About Me section styling */
.main-bio {
   background-color: rgba(0, 0, 0, 0.835);
   background-image: url(./images/space-background.jpg);
   line-height: 0;
   width:100%;
   background-size: cover;
   border-bottom-color: #333;
   border-bottom-style: solid;
   border-bottom-width: 3px;
   height: 600px;
}

.about {
   position: relative;
   display: inline-block;
   width: 30%;
}

.about img {
   height: 600px;
   width: auto;    
   display: inline-block;
   margin: 0;
   opacity: 0.5;
   border: none;
   line-height: 0;
}

.about-title {
   color:rgb(255, 255, 255);
   position: absolute;
   font-size: 35px;
   top: 50px;
   right: 10px;
}

.about-text {
   border-top: 100px;
   color: white;
   float: right;
   margin: 45px 20px 0 0;
   width: 59%;
   line-height: 1.5;
   height: 80%;
}
/* end of about me section */

/* Projects Section Styling  */
.projects {
   height: 600px;
   background-color: black;
}
.projects-title {
   display: inline-block;
   margin: 0;
   height: 100%;
   width: 30%;
   text-align: right;
}

.projects-title h2 {
   font-size: 35px;
}

.project-list {
   float: right;
   height: 100%;
   width: 67%;
}

.project-main {
   margin: 10px auto;
   height: 45%;
   width: 90%;
   border-style: solid;
   border-color: #333;
   background-image: url(./images/run-buddy-capture.jpg);
   background-repeat: no-repeat;
   background-size: cover;
}

a button {
   height: 100%;
   width: 100%;
   opacity: 0;
}

a button:hover {
   height: 100%;
   width: 100%;
   background-color: #0424d8;
   font-size: 20px;
   font-weight: bold;
   color: white;
   opacity: 0.8;
}

.project-2 {
   margin: 10px 0 10px 43px;
   height: 45%;
   width: 42%;
   display: inline-block;
   border-style: solid;
   border-color: #333;
   background-image: url(./images/robot-gladiators.jpg);
   background-repeat: no-repeat;
   background-size: 100%;
}



.project-3 {
   margin: 10px 43px 10px 0;
   float: right;
   height: 45%;
   width: 42%;
   border-style: solid;
   border-color: #333;
   background-image: url(./images/Capture.jpg);
   background-repeat: no-repeat;
   background-size: cover;
}
/* end of  */




/* Contact Info Section Styling */
#contact-info {
   display: inline-block;
   margin: 0;
   width: 100%;
   background-color: black;
}

#contact-info ul li {
   float: right;
   list-style-type: none;
}


/* Media Query Styles */
@media screen and (max-width: 1300px) {
   .bio-name a {
      font-size: 35px;
   }

   header nav ul li a {
      font-size: 15px;
   }
   .main-bio {
      background-color: rgba(0, 0, 0, 0.835);
      background-image: url(./images/space-background.jpg);
   }

   .about img {
      height: 600px;
      width: auto;    
      display: inline-block;
      margin: 0;
      opacity: 0.5;
      border: none;
      margin-bottom: -7px;
      line-height: 0;
   }

   .about {
      position: relative;
      /* display: flex; */
      margin: 0;
      max-width: 100%;
      height: auto;
   }

   .about-text {
      /* display: flex; */
      margin: 0;
      width: 100%;
   }
 }